<div class="jumbotron">
<h1>Welcome to Meagen's App</h1>

<p>Click here to <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-large" %>
</p>
</div>
